<%- include('./partials/header') %> 
<%- include('./partials/navbar') %>

<div class="home-background-div">
  <%- include('./partials/success') %> 
  <%- include('./partials/error') %>

    <h1 class="about-us-title">About Us</h1>

    <div class="about-us-container">
    <p class="about-us-text">Ever since my first encounter with the novels of Jules Verne at a very young age, I've been a huge fan of science fiction. Though I've tinkered with the idea of writing a science-fiction novel, up until now I've always lacked to confidence to give it an honest try. However, as you can tell by reading this, I've opted for a website rather than a book - and you could argue that the nature of the website requires that you - the user - write more than I have in the prompts and planet descriptions. </p>
    <aside class="aside-comment">
    <p>My biggest wish is to incentivize those among you who - like me - have so far had no courage to engage in creative writing. </p>
    </aside class="aside-comment">
    <p class="about-us-text"> Prior to starting this project I'd invested approximately three months into studying coding and web development and it took me, in total, around two months to construct this website from scratch. However, I couldn't have done it without my wife who helped me on numerous occasions, not just by giving support, but also by writing several of the prompts herself. I hope that the website provides an opportunity for everyone to, at least, dip their toes in the waters of science fiction writing.</p>
    </div>
    
</div>

<%- include('./partials/footer') %>