<%- include('./partials/header') %> <%- include('./partials/navbar') %>

<div class="home-background-div">
  <%- include('./partials/success') %> <%- include('./partials/error') %>

    <h1 class="faq-title">Frequently Asked Questions</h1>

    <button class="accordion">Why should I write here instead of anywhere else? Don't I risk my stories being stolen?</button>
    <div class="panel">
        <p>There is, of course, the risk of someone plagiarizing your stories, just like with any other type of written publication. However, this site should be viewed as a testing ground for your ideas and simply as a place where you can come and practice science-fiction writing.</p>
    </div>

    <button class="accordion">Do the rank and ship name play any role?</button>
    <div class="panel">
        <p>These are only present for roleplaying purposes, nothing more.</p>
    </div>
    
    <button class="accordion">Can I add friends and follow other people?</button>
    <div class="panel">
        <p>This feature is currently unavailable, but might be made possible in the future.</p>
    </div>
    
    <button class="accordion">Is there a chatroom for members?</button>
    <div class="panel">
        <p>There is no chatroom and there are currently no plans to make one.</p>
    </div>

    <button class="accordion">Why can't I post more than one story for each event?</button>
    <div class="panel">
        <p>You can edit and update the same story however many times you want, but we've opted to limit users to one story per event just because there already are relatively similar prompts and if you really wish to write a similar story, pick similar prompts. In addition, the purpose of the site is for people to work on and test their writing skills in a variety of science-fiction scenarios. </p>
    </div>

    <button class="accordion">Why can't I post more than one comment per story?</button>
    <div class="panel">
        <p>This is because users should post reviews of stories, and not comments. Reviews are naturally longer and all-encompasing, whereas comments are something you would more likely find on a forum or a social networking site.</p>
    </div>

    <button class="accordion">The site isn't responsive on mobile phones - why is that so?</button>
    <div class="panel">
        <p>Since this is a writing site and the minimum length of a story is 1000 characters, it is difficult to imagine that anyone would engage with the website using a smaller screen. That being said, there are plans to make some pages more reponsive in the future.</p>
    </div>

    <button class="accordion">Some of the stories I'm seeing are copied from actual science-fiction authors - what is the deal?</button>
    <div class="panel">
        <p>I've included some excerpts from SF stories available in the public domain just to add starter texts to the website. Since the texts are in the public domain, no copyright has been infringed upon. However, if other users start copying actual SF authors, such stories will be prompty removed from the website.</p>
    </div>

    <button class="accordion">I'm having problems with XYZ - what should I do?</button>
    <div class="panel">
        <p>If you are experiencing any problems, please contact me using the contact section of the website. Furthermore, I advise that you keep your stories saved on your local PC (both while writing and after posting them) for safety reasons. Thank you for your understanding.</p>
    </div>





    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          });
        }
        </script>

</div>
<%- include('./partials/footer') %>
