<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="galaxy-div">

    <div class="galaxy-image-container">
        <h2 class="galaxy-galaxy-name"><%= galaxy.name %></h2>
        <img src="<%=galaxy.image%>" alt="Galaxy">

           <div class="point-of-interest-8 point-of-interest" title="Click for details" data-tab-target="#index-0"></div>
           <div class="point-of-interest-12 point-of-interest" title="Click for details" data-tab-target="#index-1"></div>
           <div class="point-of-interest-14 point-of-interest" title="Click for details" data-tab-target="#index-2"></div>
           <div class="point-of-interest-1 point-of-interest" title="Click for details" data-tab-target="#index-3"></div>
           <div class="point-of-interest-2 point-of-interest" title="Click for details" data-tab-target="#index-4"></div>
           <div class="point-of-interest-3 point-of-interest" title="Click for details" data-tab-target="#index-5"></div>
    </div>

    <% galaxy.event.forEach((event, index) => { %> 
        <div id="index-<%=index%>" class="galaxy-event-container step-inactive">
            <h2 class="galaxy-event-title"><%=event.name%></h2>

            <div class="swiper mySwiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide"><img src="<%=event.image[0]%>"  class="galaxy-event-image"></div>
                  <div class="swiper-slide"><img src="<%=event.image[1]%>"  class="galaxy-event-image"></div>
                  <div class="swiper-slide"><img src="<%=event.image[2]%>"  class="galaxy-event-image"></div>
        
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
              </div>

            <p>Description: <%=event.description%></p>
            
            <a href="/jump/<%=galaxy.name%>/logs/<%=event.name%>?intent=compose" class="galaxy-compose-log-link">Compose log</a>
            <a href="/jump/<%=galaxy.name%>/logs/<%=event.name%>" class="galaxy-compose-log-link">Scan existing logs</a>
        </div>
    <% }) %>

</div>

<script>
var swiper = new Swiper('.mySwiper', {
    
    loop: true,

    pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
    // Navigation arrows
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
}})

const tabs = document.querySelectorAll('[data-tab-target]')
const sections = document.querySelectorAll('.galaxy-event-container')

tabs.forEach(tab =>
    tab.addEventListener('click', function() {

        const target = document.querySelector(tab.dataset.tabTarget)
        sections.forEach(function (section) {
            section.classList.add('step-inactive')
            section.classList.remove('step-active')
        })    
        tab.classList.add('steps-background')
        target.classList.remove('step-inactive')
        target.classList.add('step-active')
        
    })
)
</script>

<%- include('./partials/footer') %> 