<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="galaxy-div">

    <div class="galaxy-image-container">
        <h2 class="galaxy-galaxy-name"><%= galaxy.name %></h2>
        <img src="<%=galaxy.image%>" alt="Galaxy">

           <div class="point-of-interest-8 point-of-interest" title="Click for details"></div>
           <div class="point-of-interest-12 point-of-interest" title="Click for details"></div>
           <div class="point-of-interest-14 point-of-interest" title="Click for details"></div>
           <div class="point-of-interest-1 point-of-interest" title="Click for details"></div>
           <div class="point-of-interest-2 point-of-interest" title="Click for details"></div>
           <div class="point-of-interest-3 point-of-interest" title="Click for details"></div>
    </div>

    <div class="galaxy-event-container">


    </div>
</div>

<%- include('./partials/footer') %> 