<%- include('./partials/header') %> 

<%- include('./partials/navbar') %> 

<div class="sticky-navbar">
    <ul class="sticky-navbar-list">
        <li class="sticky-navbar-list-item"><a href="/">Back to title page</a></li>
        <li class="sticky-navbar-list-item"><a href="#random-blog-entry">Random blog entry</a></li>
        <li class="sticky-navbar-list-item"><a href="#how-to-use">How to use</a></li>
    </ul>
</div>

<%- include('./partials/success') %> 
<%- include('./partials/error') %> 

<div class="home-background-div">
<section class="home-blogs-section" id="random-blog-entry">
    <div class="home-loader-div">
        <h1 class="home-loader-title">REASSEMBLING RANDOM BLOG ENTRY...</h1>
        <img class="home-loader" src="/images/loader-1.svg">
    </div>
    <% if (blog != 'blog' ) { %> 
    <div class="home-blog">
        <a href="/users/<%=author.rank%>-<%=author.username%>" class="direct-user-link" title="Visit this user's ship"><img src=<%=author.image%> class="home-blog-user-img" /></a>

        <h3 class="home-blog-event-name"><a href="/jump/<%=event.galaxy.name%>" class="direct-galaxy-link" title="Go to galaxy view">Event:  <%= event.name %></a></h3>

        <h2 class="home-blog-title"> <%= blog[0].title %> </h2>
        
        <div class="home-author-and-stardate-div">
            <h4 class="home-blog-author"><a href="/users/<%=author.rank%>-<%=author.username%>" class="direct-user-link" title="Visit this user's ship"><%=author.rank%>  <%=author.username%></a></h4>
            <h4 class="home-blog-stardate"><%=blog[0].createdAt.substring(0, 16) %></h4>
        </div>
        <p class="home-blog-body"><%=blog[0].body.substring(0, 500) %>...</p>        
        
        <a href="/logs/<%=blog[0]._id%>" class="inspect-log-link">Inspect log</a>   

    </div>
    <% } %> 
    <button class="home-blog-fetch-button">Probe for a different blog entry</button>
</section>


<section class="how-to-use-section">
    <div>
        <div class="explanation-div">
        <h1 class="how-to-title" id="how-to-use">How to use the website? Follow the steps below!</h1>
        <ul class="home-explanation-list">
            <li class="home-list-item steps-background" data-tab-target="#step-1">Step 1</li>
            <li class="home-list-item" data-tab-target="#step-2">Step 2</li>
            <li class="home-list-item" data-tab-target="#step-3">Step 3</li>
            <li class="home-list-item" data-tab-target="#step-4">Step 4</li>
        </ul>
    </div>
    <hr class="hr-style-one">

    <div class="steps-text-div">
        <p class="steps-text step-active " id="step-1">After creating an account, click on the the 'JUMP' button in the navigation bar. Select one of the galaxies to travel to - each galaxy is associated with a particular genre of science-fiction. </p>
        <p class="steps-text step-inactive" id="step-2">Each galaxy has six different points of interest represnted with glowing circles. Click on each circle to see the prompt for a story. </p>
        <p class="steps-text step-inactive" id="step-3">Read the prompt we have prepared for your and write a short story (up to 35000 characters in length). You don't have to write everything in one sitting - you can save drafts and continue later. </p>
        <p class="steps-text step-inactive" id="step-4"> Once you're done, publish your story and wait for other people to give reviews. Read other people's stories and give feedback! </p>
        
    </div>
    </div>

    <div class="star-map-example-div">
        <div class="star-map-example-container">
            <img src="/images/constellation-2.jpg" alt="Constellation" loading="lazy"> 
                <div class="point-of-interest point-of-interest-1"></div>
                <div class="point-of-interest point-of-interest-2"></div>
                <div class="point-of-interest point-of-interest-3"></div>
                <div class="point-of-interest point-of-interest-4"></div>
                <div class="point-of-interest point-of-interest-5"></div>
                <div class="point-of-interest point-of-interest-6"></div>
                <div class="point-of-interest point-of-interest-7"></div>
                <div class="point-of-interest point-of-interest-8"></div>
        </div>
    </div>
</section>

<footer class="home-footer">
   <div class="footer-flex-container">

    <img src="./images/favicon.svg" alt="Site logo" class="footer-logo">
  
    <div class="footer-links">
        <a href="/faqs"> ↬ FAQs</a>
        <a href="/contact"> ↬ Contact Us</a>
        <a href="/about"> ↬ About Us</a>
        <a href="/privacy-policy">↬ Privacy Policy</a>
    </div>

    <div class="footer-socials-container">
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
   </div>
</footer>

</div>


<script>
    let stardateDiv = document.querySelector('.home-loader-div')
    let homeBlogDiv = document.querySelector('.home-blog')
    let homeBlogFetchButton = document.querySelector('.home-blog-fetch-button')

    setTimeout(()  => {
        stardateDiv.style.display = "none"
        homeBlogDiv.style.display = "block"
        homeBlogFetchButton.style.display = "block"
    }, 1500)

const navbar = document.querySelector('.sticky-navbar');
let topOffset = navbar.offsetTop;
function stickynavbar() {
  if (window.scrollY >= topOffset) {    
    navbar.classList.add('sticky');
  } else {
    navbar.classList.remove('sticky');    
  }
}
window.addEventListener('scroll', stickynavbar);

const tabs = document.querySelectorAll('[data-tab-target]')
const sections = document.querySelectorAll('.steps-text')

tabs.forEach(tab =>
    tab.addEventListener('click', function() {

        const target = document.querySelector(tab.dataset.tabTarget)
        sections.forEach(function (section) {
            section.classList.add('step-inactive')
            section.classList.remove('step-active')
        })    
        tabs.forEach(function (tab) {
            tab.classList.remove('steps-background')
        })
        tab.classList.add('steps-background')
        target.classList.remove('step-inactive')
        target.classList.add('step-active')
        
    })
)


// PROBE FOR A RANDOM BLOG
const probeButton = document.querySelector('.home-blog-fetch-button')

const url = 'http://localhost:3000/randomblog'

probeButton.addEventListener('click', async () => {
    const res = await fetch(url, {method: 'GET'})
    const data = await res.json()
    console.log(data)
    await createElements(data)
})

function createElements(data){

    let child = homeBlogDiv.lastElementChild
    while (child) {
            homeBlogDiv.removeChild(child);
            child = homeBlogDiv.lastElementChild;
        }

    // a tag & img at the top-left
    let a1 = document.createElement('a')
    a1.setAttribute('href', `/users/${data.author.rank}-${data.author.username}`)
    a1.setAttribute('title', "Visit this user's ship")
    a1.classList.add('direct-user-link')
    let img1 = document.createElement('img')
    img1.setAttribute('src', `${data.author.image}`)
    img1.classList.add('home-blog-user-img')
    a1.appendChild(img1)

    // event name and blog title name
    let firstH3 = document.createElement('h3')
    firstH3.classList.add('home-blog-event-name')
    firstH3.innerText = `Event: ${data.event.name}`
    let a2 = document.createElement('a')
    a2.setAttribute('href', `/jump/${data.event.galaxy.name}`)
    a2.setAttribute('title', "Go to galaxy view")
    a2.classList.add('direct-galaxy-link')
    firstH3.appendChild(a2)

    let firstH2 = document.createElement('h2')
    firstH2.classList.add('home-blog-title')
    firstH2.innerText = data.blog[0].title

    // div for author and date + author and date
    let firstDiv = document.createElement('div')
    firstDiv.classList.add('home-author-and-stardate-div')
    

    let firstH4 = document.createElement('h4')
    firstH4.classList.add('home-blog-author')
    firstH4.innerText = `${data.author.rank} ${data.author.username}`
    let a3 = document.createElement('a')
    a3.classList.add('direct-user-link')
    a3.setAttribute('href', `/users/${data.author.rank}-${data.author.username}`)
    a3.setAttribute('title', "Visit this user's ship")
    let secondH4 = document.createElement('h4')
    secondH4.classList.add('home-blog-stardate')
    secondH4.innerText = `${data.blog[0].createdAt.substring(0, 16)}`

    firstH4.appendChild(a3)
    firstDiv.appendChild(firstH4)
    firstDiv.appendChild(secondH4)

    // body and likes
    let blogBody = document.createElement('p')
    blogBody.classList.add('home-blog-body')
    blogBody.innerText = `${data.blog[0].body.substring(0, 500)}...`
  
    // inspect link
    let a4 = document.createElement('a')
    a4.setAttribute('href', `/logs/${data.blog[0]._id}`)
    a4.classList.add('inspect-log-link')
    a4.innerText = 'Inspect log'

    homeBlogDiv.appendChild(a1)
    homeBlogDiv.appendChild(firstH3)
    homeBlogDiv.appendChild(firstH2)
    homeBlogDiv.appendChild(firstDiv)
    homeBlogDiv.appendChild(blogBody)
    homeBlogDiv.appendChild(a4)
}

</script>

<%- include('./partials/footer') %> 



