<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="jump-div">
    <br>
    <br>
    <h2 class="jump-title">Select jump destination</h2>
    <div>
    <div class="galaxy-selection-div">
        <% for (let galaxy of galaxies) { %> 
            <a href="/jump/<%=galaxy.name%>" class="jump-to-galaxy-link">
                <div class="jump-galaxy-background-div">
                <h5 class="jump-galaxy-name"><%= galaxy.name %></h5>
                <img src="<%= galaxy.image %>" alt="Constellation" class="jump-galaxy-img">
            </div>
            </a>
        <% } %> 
    </div>
    </div>
</div>

<%- include('./partials/footer') %> 