<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="show-logs-div">
    <%- include('./partials/success') %> 
    <%- include('./partials/error') %> 
    <h1 class="show-logs-title">Log entries found for '<%=event.name%>'</h1>

    <% if(blogs) { %> 
    <% for (let blog of blogs ) { %> 
        <div class="show-logs-entry">
            <img src=<%=blog.author.image%> class="show-logs-user-img">

            <h3 class="show-logs-event-name"><a href="/jump/<%=event.galaxy.name%>" class="direct-galaxy-link" title="Go to galaxy view">Event:  <%= event.name %></a></h3>

            <h2 class="show-logs-blog-title"> <%= blog.title %></h2>
            <div class="show-logs-author-and-stardate-div">

                <h4><a href="/users/<%=blog.author.rank%>-<%=blog.author.username%>" class="direct-user-link" title="Visit this user's ship"> <%=blog.author.rank%>  <%=blog.author.username%> </a></h4>

                <h4> <%=blog.createdAt.substring(0, 16) %>  </h4>

            </div>
            <p class="show-logs-body"> <%=blog.body.substring(0, 750) %>... </p>
            <p class="show-logs-likes">Likes: 52</p>

        </div>

    <% } %>
    <% } %>
</div>





<%- include('./partials/footer') %> 