<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="show-blog-div">
    <%- include('./partials/success') %> 
    <%- include('./partials/error') %> 
    <div class="show-logs-entry">
        <a href="/users/<%=blog.author.rank%>-<%=blog.author.username%>" class="direct-user-link" title="Visit this user's ship"><img src=<%=blog.author.image%> class="show-logs-user-img"></a>

        <h3 class="show-logs-event-name"><a href="/jump/<%=blog.event.galaxy.name%>" class="direct-galaxy-link" title="Go to galaxy view">Event:  <%= blog.event.name %></a></h3>

        <h2 class="show-logs-blog-title"> <%= blog.title %></h2>
        <div class="show-logs-author-and-stardate-div">

            <h4><a href="/users/<%=blog.author.rank%>-<%=blog.author.username%>" class="direct-user-link" title="Visit this user's ship"> <%=blog.author.rank%>  <%=blog.author.username%> </a></h4>

            <h4> <%=blog.createdAt.substring(0, 16) %>  </h4>

        </div>
        <p class="show-logs-body"> <%=blog.body %> </p>

        <% if (login && login._id.equals(blog.author._id)) { %>  
        <form action="/logs/<%=blog._id%>?_method=DELETE" method="POST">
            <button class="expunge-log-button">Expunge log entry</button>
        </form>
        <% } %> 

        <% if (login && login._id.equals(blog.author._id)) { %>  
            <a href="/jump/<%=blog.event.galaxy.name%>/logs/<%=blog.event.name%>?intent=compose" class="amend-log-link">Amend log</a>
            <% } %> 
    </div>

    <button class="post-comment-button">Submit log review</button>

    <div class="comment-form-container" hidden>
        <h2>Submit log review</h2>
        <form action="/logs/<%=blog._id%>" method="POST">

             <label>
                <span>Your evaluation:</span><br/>
                <input type="range" min="1" max="5" step="1" list="tickmarks" name="rating"/><br/>

                <datalist id="tickmarks">
                    <option value="1" label="deficient"></option>
                    <option value="2" label="modest"></option>
                    <option value="3" label="unexceptional"></option>
                    <option value="4" label="distinguished"></option>
                    <option value="5" label="spectacular"></option>
                  </datalist>
            </label>

            <label>
                <span>Your review:</span><br/>
                <textarea name="comment" cols="30" rows="5" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Your comment here"></textarea><br/>
            </label>

            <button class="submit-comment-button">Print report</button>
        </form>
        <button class="censor-comment-button">Censor review</button>
    </div>

    <div class="comment-section-container">
        <% if (blog.comments.length > 0) { %>
        <% blog.comments.forEach((comment) => { %>
            <div class="comment-div">
                <p> <%=comment.creator.rank%> <%=comment.creator.username%>  </p>
                <p> <%=comment.createdAt.substring(0, 24)%>  </p>
                <img src=<%=comment.creator.image%> alt='Person making the comment'/> 
                
                <p><%=comment.comment%></p>
                <p> RATING: <%=comment.rating%>  </p>
                
                <% if (login && login._id.equals(comment.creator._id)) { %> 
                <form action="/logs/comments/<%=comment._id%>?_method=DELETE" method="POST">
                    <button class="delete-review-button">Expunge review</button>
                </form>
                <% } %> 
            </div>
        <%})%> 
        <%}%> 
    </div>

</div>

<script>
    const showForm = document.querySelector('.post-comment-button')
    const formContainer = document.querySelector('.comment-form-container')
    const closeForm = document.querySelector('.censor-comment-button')

    showForm.addEventListener('click', () => {
        if (formContainer.style.display != 'block') {
            formContainer.style.display = 'block'
        } else {
            formContainer.style.display = 'none'
        }     
    })

    closeForm.addEventListener('click', () => {
        formContainer.style.display = 'none'
    })
</script>

<%- include('./partials/footer') %> 