<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="userpage-container-div">
    <%- include('./partials/success') %> 
    <%- include('./partials/error') %> 
    <div class="home-loader-div" data-aos="fade-down">
        <h1 class="home-loader-title">FETCHING ACADEMY RECORDS ...</h1>
        <img class="home-loader" src="/images/loader-1.svg" />
    </div>

    <div class="userpage-user-information">
        <h1>STAR FLEET PASSPORT</h1>
        <div class="image-and-info-container">
            <div class="image-container">
                <img src="<%=user.image%>" alt="profile image">
            </div>
            <div class="info-container">
                <div>
                <h3><span class="info-label-span">Name:</span></h3>
                <h3><span class="info-label-span">Email:</span></h3>
                <h3><span class="info-label-span">Age:</span></h3>
                <h3><span class="info-label-span">Rank:</span></h3>
                <h3><span class="info-label-span">Ship:</span></h3>
                </div>
                <div>
                <h3><%= user.username %></h3>
                <h3><%= user.email %></h3>
                <h3><%= user.age %></h3>
                <h3><%= user.rank %></h3>
                <h3><%= user.shipName %></h3>
                </div>
                
                <button class="update-button">EDIT INFORMATION</button>
            </div>

            <div class="update-container">
            <form action="/users/<%=user.rank%>-<%=user.username%>?_method=PUT" method="POST" class="update-form">
                <!-- <label for="username" class="update-label" >Username cannot be changed.</label>
                <input id="username" type="text" name="username" class="update-input first-update-input" placeholder="e.g. Zach Pizzaz" value=<%= user.username %> disabled> -->

                <label for="email" class="update-label">Change your email.</label>
                <input id="email" type="email" name="email" class="update-input" placeholder="e.g. spaceguy@gmail.com" required   pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b" value="<%= user.email %>">
                
                <label for="age" class="update-label">Update your age.</label>
                <input id="age" type="number" name="age" class="update-input" placeholder="Must be over 18." min="18" max="90" required value="<%=user.age%>">
        
                <label for="shipName" class="update-label">Choose a new ship name.</label>
                <input id="shipName" type="text" name="shipName" class="update-input" placeholder="e.g. Venture" value="<%=user.shipName%>">
        
                <label for="rank" class="update-label">Update your rank.</label>
                <select id="rank" name="rank" class="update-input">
                    <option value="midshipman">midshipman</option>
                    <option value="ensing">ensing</option>
                    <option value="liutenant">liutenant</option>
                    <option value="commander">commander</option>
                    <option value="captain">captain</option>
                    <option value="fleet Captain">fleet captain</option>
                    <option value="commodore">commodore</option>
                    <option value="rear admiral">rear admiral</option>
                    <option value="vice admiral">vice admiral</option>
                    <option value="admiral">admiral</option>
                    <option value="fleet admiral">fleet admiral</option>
                    <option value="admiral of starfleet">admiral of starfleet</option>
                  </select>
                
                  <div>
                  <button class="update-form-button">Amend</button>
                  <p class="update-form-close">Rescind request</p>
                  </div>
            </form>
        </div>

        </div>
        
        <div class="systems-visited-container"> 
            <h3 class="systems-inspected-title">SYSTEMS INSPECTED</h3>
            <div class="systems-inspected-div">
                <p>Chion JEQ</p>
                <p>Anvoacury</p>
                <p>Timeter</p>
                <p>Kazuiclite</p>
                <p>Elnaugantu</p>
                <p>Ivides</p>
                <p>Guzonoe</p>
                <p>Zieter</p>
                <p>Vuatis</p>
                <p>Phanenov</p>
                <p>Drocihiri</p>
                <p>Brora 2S5</p>
                <p>Lluna 20D</p>
            </div>
        </div>
    </div>

    <div class="userpage-blog-information">
        <h1>PLANETARY SURVEY RECORDS:</h1>
    </div>
</div>

<script>
    let mainDiv1 = document.querySelector('.userpage-user-information')
    let mainDiv2 = document.querySelector('.userpage-blog-information')
    let homeLoaderDiv = document.querySelector('.home-loader-div')

    setTimeout(()  => {
        homeLoaderDiv.style.display = "none"
        mainDiv1.style.display = "block"
        mainDiv2.style.display = "block"
    }, 2500)

    let updateButton = document.querySelector('.update-button')
    let infoContainer = document.querySelector('.info-container')
    let updateContainer = document.querySelector('.update-container')
    let closeButton = document.querySelector('.update-form-close')

    updateButton.addEventListener('click', () => {
        infoContainer.style.display = "none"
        updateContainer.style.display = "block"
    })

    closeButton.addEventListener('click', () => {
        updateContainer.style.display = "none"
        infoContainer.style.display = "grid"
        
    })
</script>

<%- include('./partials/footer') %> 