<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="userpage-container-div">
    <%- include('./partials/success') %> 
    <%- include('./partials/error') %> 
    <div class="home-loader-div" data-aos="fade-down">
        <h1 class="home-loader-title">FETCHING ACADEMY RECORDS ...</h1>
        <img class="home-loader" src="/images/loader-1.svg" />
    </div>

    <div class="userpage-user-information">
        <h1>STAR FLEET PASSPORT</h1>
        <div class="image-and-info-container">
            <% if (login && login._id.equals(user._id)) { %>  
            <div class="image-container">
                <img src="<%=user.image%>" alt="profile image" 
                class= "userpage-avatar">
            </div>
            <% } else {%> 
                <div class="image-container">
                    <img src="<%=user.image%>" alt="profile image" 
                    class= "userpage-avatar-guest">
                </div>
            <% } %> 



            <% if (login && login._id.equals(user._id)) { %>  
            <dialog class="modal">
                <h2 class="modal-title">Choose a new avatar</h2>
                <div class="userpage-avatar-selection-div">
                    
                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar1.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar1.jpg' class="hidden-inputs"></button></form>

                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar2.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar2.jpg' class="hidden-inputs"></button></form>

                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar3.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar3.jpg' class="hidden-inputs"></button></form>

                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar4.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar4.jpg' class="hidden-inputs"></button></form>

                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar5.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar5.jpg' class="hidden-inputs"></button></form>

                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar6.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar6.jpg' class="hidden-inputs"></button></form>

                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar7.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar7.jpg' class="hidden-inputs"></button></form>

                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar8.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar8.jpg' class="hidden-inputs"></button></form>

                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar9.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar9.jpg' class="hidden-inputs"></button></form>

                <form action="/users/<%=user.rank%>-<%=user.username%>/avatar?_method=PUT" method="POST"><button class="avatar-button"><img src="/images/avatar10.jpg" alt="avatar" class="avatar-image" loading="lazy">
                <input name='avatar' type="text" value='/images/avatar10.jpg' class="hidden-inputs"></button></form>
              
                </div>
                <img src="/images/cancel-button-1.svg" alt="close" class="modal-close-button">
            </dialog>
            <% } %> 

            <div class="info-container">
                <div>
                <h3><span class="info-label-span">Name:</span></h3>
                <h3><span class="info-label-span">Email:</span></h3>
                <h3><span class="info-label-span">Age:</span></h3>
                <h3><span class="info-label-span">Rank:</span></h3>
                <h3><span class="info-label-span">Ship:</span></h3>
                </div>
                <div>
                <h3><%= user.username %></h3>
                <h3><%= user.email %></h3>
                <h3><%= user.age %></h3>
                <h3><%= user.rank %></h3>
                <h3><%= user.shipName %></h3>
                </div>
                
            <% if (login && login._id.equals(user._id)) { %>  
                <button class="update-button">EDIT INFORMATION</button>
            <% } %> 
            </div>

            <div class="update-container">
            <form action="/users/<%=user.rank%>-<%=user.username%>?_method=PUT" method="POST" class="update-form">
                <!-- <label for="username" class="update-label" >Username cannot be changed.</label>
                <input id="username" type="text" name="username" class="update-input first-update-input" placeholder="e.g. Zach Pizzaz" value=<%= user.username %> disabled> -->

                <label for="email" class="update-label">Change your email.</label>
                <input id="email" type="email" name="email" class="update-input" placeholder="e.g. spaceguy@gmail.com" required   pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b" value="<%= user.email %>">
                
                <label for="age" class="update-label">Update your age.</label>
                <input id="age" type="number" name="age" class="update-input" placeholder="Must be over 18." min="18" max="90" required value="<%=user.age%>">
        
                <label for="shipName" class="update-label">Choose a new ship name.</label>
                <input id="shipName" type="text" name="shipName" class="update-input" placeholder="e.g. Venture" value="<%=user.shipName%>">
        
                <label for="rank" class="update-label">Update your rank.</label>
                <select id="rank" name="rank" class="update-input">
                    <option value="midshipman">midshipman</option>
                    <option value="ensing">ensing</option>
                    <option value="liutenant">liutenant</option>
                    <option value="commander">commander</option>
                    <option value="captain">captain</option>
                    <option value="fleet captain">fleet captain</option>
                    <option value="commodore">commodore</option>
                    <option value="rear admiral">rear admiral</option>
                    <option value="vice admiral">vice admiral</option>
                    <option value="admiral">admiral</option>
                    <option value="fleet admiral">fleet admiral</option>
                    <option value="admiral of starfleet">admiral of starfleet</option>
                  </select>
                
                  <div>
                  <button class="update-form-button">Amend</button>
                  <p class="update-form-close">Rescind request</p>
                  </div>
            </form>
        </div> 

        </div>
        
        <div class="logs-written-container"> 
            <h3 class="logs-written-title">LOG ENTRIES: <%=user.blogEntries.length %></h3>
            <div class="logs-written-div">
                <% user.blogEntries.forEach((entry, index) => { %> 
                    <p data-tab-target="#index-<%=index%>"><i class="fa-solid fa-caret-right"></i>  <%=entry.title %></p>
                <% })  %>  

            </div>
        </div>
    </div>

    <div class="userpage-blog-information">

        <h1>LOG ENTRIES</h1>
        <% user.blogEntries.forEach((entry, index) => { %> 
            <div class="<%= index === 0 ? 'step-active' : 'step-inactive' %> userpage-show-logs-entry" id="index-<%=index%>">

            <h3 class="userpage-show-logs-event-name">Event:  <%= entry.event.name %></h3>
            <img src=<%=user.image%> class="userpage-show-logs-user-img">
            <h2 class="userpage-show-logs-blog-title"> <%= entry.title %></h2>
            <div class="userpage-show-logs-author-and-stardate-div">
                <h4> <%=user.rank%>  <%=user.username%> </h4>
                <h4> <%=entry.createdAt.substring(0, 16) %>  </h4>
            </div>
            <p class="userpage-show-logs-body"> <%=entry.body.substring(0, 500) %>... </p>

            <% if (login && login._id.equals(entry.author._id)) { %> 
            <a href="/logs/<%=entry._id%>" class="inspect-log-link">Inspect log and amend</a>
            <% } else { %> 
            <a href="/logs/<%=entry._id%>" class="inspect-log-link">Inspect log</a>   
            <% } %> 

        </div>
        <% })  %>  
    </div>

</div>

<script>
    let mainDiv1 = document.querySelector('.userpage-user-information')
    let mainDiv2 = document.querySelector('.userpage-blog-information')
    let homeLoaderDiv = document.querySelector('.home-loader-div')

    setTimeout(()  => {
        homeLoaderDiv.style.display = "none"
        mainDiv1.style.display = "block"
        mainDiv2.style.display = "block"
    }, 1500)

    let updateButton = document.querySelector('.update-button')
    let infoContainer = document.querySelector('.info-container')
    let updateContainer = document.querySelector('.update-container')
    let closeButton = document.querySelector('.update-form-close')
    

    updateButton && updateButton.addEventListener('click', () => {
        infoContainer.style.display = "none"
        updateContainer.style.display = "block"
    })

    closeButton && closeButton.addEventListener('click', () => {
        updateContainer.style.display = "none"
        infoContainer.style.display = "grid"   
    })

    let avatar = document.querySelector('.userpage-avatar')
    let modal = document.querySelector('.modal')
    let closeModalButton = document.querySelector('.modal-close-button')

    avatar && avatar.addEventListener('click', () => {
        modal.showModal()
    })

    closeModalButton && closeModalButton.addEventListener('click', () => {
        modal.close()
    })

const tabs = document.querySelectorAll('[data-tab-target]')
const sections = document.querySelectorAll('.userpage-show-logs-entry')

tabs.forEach(tab =>
    tab.addEventListener('click', function() {

        const target = document.querySelector(tab.dataset.tabTarget)
        sections.forEach(function (section) {
            section.classList.add('step-inactive')
            section.classList.remove('step-active')
        })
        tabs.forEach(function (tab) {
            tab.classList.remove('steps-background')
        })
        tab.classList.add('steps-background')
        target.classList.remove('step-inactive')
        target.classList.add('step-active')
    })
)

</script>

<%- include('./partials/footer') %> 